body {
  margin: 0;
  padding: 0;
}

.custom-avatar img {
  object-fit: cover;
}

.gradient-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.text-with-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.p-fileupload-buttonbar .p-button.p-component,
.p-fileupload-buttonbar .p-button.p-component.p-disabled {
  display: none;
}

.p-fileupload-buttonbar .p-button.p-fileupload-choose.p-component {
  display: inline-flex;
}

.p-fileupload-buttonbar {
  display: flex;
  justify-content: center;
}

.products-data-view .p-dataview-content,
.products-data-view .p-dataview-header {
  background: none;
}

.products-data-view .p-paginator {
  background: none;
  border: none;
}

.products-data-view .p-dataview-emptymessage {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
