body {
  margin: 0;
  padding: 0;
}

.custom-avatar img {
  object-fit: cover;
}

.gradient-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.text-with-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.hidden-overlay {
  background-color: rgb(0, 0, 0, 0.6);
  transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.visible-overlay {
  background-color: rgb(0, 0, 0, 0.6);
  transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
  opacity: 1;
  visibility: visible;
}

.p-fileupload-buttonbar .p-button.p-component,
.p-fileupload-buttonbar .p-button.p-component.p-disabled {
  display: none;
}

.p-fileupload-buttonbar .p-button.p-fileupload-choose.p-component {
  display: inline-flex;
}

.p-fileupload-buttonbar {
  display: flex;
  justify-content: center;
}

.products-data-view .p-dataview-content,
.products-data-view .p-dataview-header {
  background: none;
}

.products-data-view .p-paginator {
  background: none;
  border: none;
}

.products-data-view .p-dataview-emptymessage {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.product-card {
  position: relative;
  background-color: #1e1e1e;
}

.product-card::before,
.product-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  transition: 0.5s;
}

.product-card:hover::before {
  inset: -1px;
}

.product-card:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.product-card::before,
.product-card::after {
  background: linear-gradient(45deg, #00ccff, #1e1e1e, #1e1e1e, #d400d4);
}

.product-card-content {
  position: relative;
  background-color: #1e1e1e;
  z-index: 1;
}
